body .container {
  margin-bottom: 7rem;
}
body .container .AboutInfo {
  margin-bottom: 3em;
}
body .container .AboutInfo .title {
  font-size: 3rem;
  line-height: 1.3em;
  margin-bottom: 0.5em;
}
body .container .AboutInfo .contact a {
  color: var(--gray);
}
body .list {
  display: flex;
  border-bottom: 0.75px solid black;
  padding: 0.6em 0;
}
body .list #now {
  color: red;
  top: 0.12em;
}
body .list .li_1 {
  width: 22vw;
}
body .list .li_2 {
  line-height: 1.5em;
  flex: 1;
}

@media only screen and (max-width: 700px) {
  body .container .AboutInfo {
    margin-bottom: 2.5rem;
  }
  body .container .AboutInfo .title {
    font-size: 1.75rem;
    margin-bottom: 1.1rem;
  }
}