$default-f: 1.1vw;
$mobile-f: 3.9vw;

// line height
$lh: 1.4em;
$titlelh: 1.25em;

$padding: 0 2.5vw 0 2.5vw;
$vh-space: 4vh;

body {
  .container {
    margin-bottom: calc($vh-space * 2);

    .AboutInfo {
      margin-bottom: 7rem;

      .title {
        font-size: 2.25rem;
        line-height: $titlelh;
        margin-bottom: 0.7rem;
      }

      .contact {
        a {
          color: rgb(140, 140, 140);
        }
      }
    }
  }

  .list {
    display: flex;
    border-bottom: 0.75px solid black;
    padding: 0.6em 0; // &:last-child {
    //   border-bottom: none;
    // }
    #now {
      color: red;
      top: 0.12em;
    }

    .li_1 {
      width: 22vw;
    }

    .li_2 {
      flex: 1;
    }
  }
}

@media only screen and (max-width: 700px) {
  body {
    .container {
      .AboutInfo {
        margin-bottom: 2.5rem;
        .title {
          font-size: 1.35rem;
          margin-bottom: 0.9rem;
        }
      }
    }
  }
}
