@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");
:root {
  --point: rgb(233, 239, 121);
  --lightgray: rgb(245, 245, 245);
  --gray: rgb(200, 200, 200);
}

#underline {
  text-decoration: underline;
}

/* 한글 폰트 */
@font-face {
  font-family: "gothica1";
  src: url(../source_default/Gothica1/GothicA1-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "gothica1";
  src: url(../source_default/Gothica1/GothicA1-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "gothica1";
  src: url(../source_default/Gothica1/GothicA1-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "HALRepost";
  src: url(../source_default/HALRepost/HALRepostTest-Regular.otf);
  font-weight: 500;
}
/* 영문 폰트 "barlow" */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  position: relative;
  font-family: "HALRepost", "gothica1", sans-serif;
  font-weight: 500;
  word-break: keep-all;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: var(--point);
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}

html {
  font-size: 0.9vw;
  line-height: 1.45em;
}

body {
  padding: 0 2.5vw 0 2.5vw;
  /* FOOTER 하단바 웹사이즈 */
}
body header {
  margin: 3vh 0 7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
body header .header_name {
  font-size: 1.5rem;
  position: fixed;
  z-index: 1000;
  mix-blend-mode: overlay;
  /* Multiply 효과 적용 */
}
body header .header_name:hover {
  color: var(--blue);
}
body header .header_menu {
  font-size: 1.5rem;
  position: absolute;
  right: 0.25rem;
}
body header #menu {
  margin-left: 2vw;
  color: rgb(0, 0, 0);
}
body header #menu:hover {
  color: rgba(0, 0, 0, 0.45);
  transition: all 0.2s ease-in;
}
body footer {
  background-color: rgb(245, 245, 245);
  margin: 0 -2.5vw 0 -2.5vw;
  width: 100vw;
  padding: 0 2.5vw 0 2.5vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  display: flex;
  font-size: 1rem;
}
body footer .footer_box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vh;
}
body footer .footer_box .footer_left {
  width: 50vw;
  padding-right: 5vw;
}
body footer .footer_box .footer_right {
  flex: 1;
  padding-right: 5vw;
}

/* 모바일사이즈  모바일사이즈  모바일사이즈 모바일사이즈  모바일사이즈  모바일사이즈 */
@media only screen and (max-width: 700px) {
  html {
    font-size: 3.9vw;
    line-height: 1.45em;
  }
  html body {
    padding: 0 2.5vw 0 2.5vw;
    /* FOOTER 하단바 모바일사이즈 */
  }
  html body header {
    margin: 2vh 0 4rem 0;
    /*HEADER 헤더 모바일사이즈*/
  }
  html body header .header_name {
    font-size: 1.2rem;
    position: relative;
  }
  html body header .header_menu {
    font-size: 1.2rem;
  }
  html body header #menu {
    margin-left: 0.7em;
  }
  html body footer {
    font-size: 0.9rem;
    width: 100vw;
    margin: 0 -2.5vw 0 -2.5vw;
    padding-top: 2.8vh;
    padding-left: 1em;
  }
  html body footer .footer_box {
    margin-bottom: 0;
  }
  html body footer .footer_box .footer_left {
    display: none;
    margin-right: 5vw;
  }
}