@charset "UTF-8";
#underline {
  text-decoration: underline;
}

/* 바디 내용 시작 */
body .container {
  margin-top: 8vh;
  margin-bottom: 8vh;
  /* 프로젝트 설명 */
  /*프로젝트 중간글*/
  /* 프로젝트 중간글 더블더블 */
  /*IMG IMG 이미지 설정*/
  /*세로이미지*/
  /* 유튜브 링크 */
}
body .container .project-info {
  margin-top: 5vh;
  margin-bottom: 8vh;
  display: flex;
}
body .container .project-info .info_left {
  width: 50%;
  padding-right: 5vw;
}
body .container .project-info .info_left .title {
  font-size: 2.25rem;
  line-height: 1.25em;
}
body .container .project-info .info_right {
  flex: 1;
  padding-right: 5vw;
  line-height: 1.45em;
  /* 연결 페이지가 있는 경우 */
  /* 크레딧 */
}
body .container .project-info .info_right .caption {
  font-size: 1em;
  margin-bottom: 1.5em;
}
body .container .project-info .info_right .info-page {
  color: gray;
  margin-bottom: 1.5em;
  font-size: 1.1rem;
}
body .container .project-info .info_right .credit_box {
  display: flex;
  border-top: 1px solid black;
  margin-top: 0.4em;
  padding-top: 0.4em;
}
body .container .project-info .info_right .credit_box .credit_1 {
  width: 30%;
}
body .container .project-info .info_right .credit_box .credit_2 {
  flex: 1;
}
body .container .mid_text {
  color: black;
  text-align: center;
  padding: 3.5vh 0 6vh 0;
  font-size: 3.315vw;
  line-height: 1.45em;
}
body .container .mid_text_double {
  margin-top: 5vh;
  margin-bottom: 8vh;
  display: flex;
  line-height: 1.45em;
}
body .container .mid_text_double .text_left {
  width: 50%;
  padding-right: 5vw;
}
body .container .mid_text_double .text_right {
  flex: 1;
  /* 줄글 조정하기 */
  padding-right: 5vw;
}
body .container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 3vh;
}
body .container .img-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
}
body .container .img-vertical > img {
  width: 50%;
  margin: 0;
}
body .container .youtube {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow-y: hidden;
  margin-bottom: 3vh;
}
body .container .youtube iframe,
body .container .youtube object,
body .container .youtube embed {
  position: absolute;
  top: 0;
  left: 0;
  word-wrap: 100%;
  height: 100%;
}

/* 모바일사이즈  모바일사이즈  모바일사이즈 */
@media only screen and (max-width: 700px) {
  body .container {
    margin-top: 5.5rem;
    /* 프로젝트 설명 모바일사이즈 */
    /*IMG IMG 중간 글 모바일*/
    /* 프로젝트 중간글 더블더블 모바일 */
    /*IMG IMG 이미지 설정 모바일*/
    /*세로이미지*/
  }
  body .container .project-info {
    margin-top: 4vh;
    margin-bottom: 6vh;
    flex-direction: column;
  }
  body .container .project-info .info_left {
    width: 90vw;
  }
  body .container .project-info .info_left .title {
    font-size: 1.35rem;
    margin-bottom: 3vh;
  }
  body .container .project-info .info_right {
    padding-right: 0vw;
    /* 프로젝트 크레딧 모바일*/
  }
  body .container .project-info .info_right .caption {
    margin-bottom: 4vh;
  }
  body .container .project-info .info_right .info-page {
    margin-bottom: 3vh;
  }
  body .container .project-info .info_right .credit_box {
    width: 98%;
    font-size: 1.05em;
    line-height: 1.25em;
  }
  body .container .project-info .info_right .credit_1 {
    width: 24%;
  }
  body .container .mid_text {
    padding: 3.5vw 2.5vw 6vw 2.5vw;
  }
  body .container .mid_text_double {
    margin-top: 3vh;
    margin-bottom: 3vh;
    flex-direction: column;
  }
  body .container .mid_text_double .text_left {
    width: 100%;
    padding-right: 5vw;
  }
  body .container .mid_text_double .text_right {
    margin-top: 4vh;
  }
  body .container img {
    margin-bottom: 1.25vh;
  }
  body .container .img-vertical {
    margin-bottom: 1.25vh;
  }
  body .container .img-vertical img {
    width: 100%;
    margin: 0;
  }
  body .container .youtube {
    margin-bottom: 1.25vh;
  }
}