$default-f: 0.9vw;
$mobile-f: 3.9vw;
// line height
$lh: 1.4em;
$titlelh: 1.25em;
$padding: 0 2.5vw 0 2.5vw;
$vh-space: 4vh;

#underline {
  text-decoration: underline;
}

/* WORK 인덱스 */
body {
  .category {
    margin-bottom: $vh-space;

    font-size: 1rem;
    color: var(--gray);

    .selected {
      color: black;
    }

    >a {
      margin-right: 1.25em;
    }

    >a:hover {
      color: rgb(100, 100, 100);
      transition: all 0.2s linear;
    }
  }

  /* 바디 내용 시작 web web 웹 */
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw; // 요소 사이의 간격을 설정
    // 만약 gap 속성을 지원하지 않는 브라우저를 고려한다면 margin을 사용할 수 있음

    margin-bottom: 4em;
    // footer와 간격

    .box {
      position: relative; // 텍스트를 절대 위치로 배치하기 위해 필요
      width: calc((100% - 1vw * 2) / 3);
      /* 각 요소 사이의 간격 */


      .thumbnail-box {
        height: 21vw;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        >img {
          width: 100%;
          height: 100%;
          overflow: hidden;
          /* 이미지 정 사이즈 */
          object-fit: cover;
          transition: transform 0.2s linear; // 스케일 변화에 부드러운 트랜지션 추가

        }

        // 텍스트 컨테이너를 절대 위치로 배치
        .text-container {
          position: absolute; // .box 내부에서 절대 위치로 설정
          top: 0; // .box의 하단에 맞춤
          left: 0; // .box의 왼쪽에 맞춤
          width: 100%; // .box의 전체 너비
          height: 100%;
          padding: 3.8em;
          color: rgb(0, 0, 0); // 텍스트 색상

          font-size: 2.5rem; // 폰트 크기 확대
          line-height: 1.2em;
          text-align: center; // 텍스트 중앙 정렬

          display: none; // 기본적으로 숨김
          z-index: 1; // 텍스트가 이미지 위에 표시되도록 함
          transition: opacity 0.2s linear; // 텍스트의 트랜지션 추가

          #award {
            position: absolute;
            top: .48em; // .box의 하단에 맞춤
            left: .5em; // .box의 왼쪽에 맞춤
            width: 13%; // .box의 전체 너비
            height: auto;
          }
        }

        &:hover {
          >img {
            transform: scale(1.03); // 마우스를 올렸을 때 이미지 확대
          }

          .text-container {
            display: flex;
            justify-content: center; // 가로 중앙 정렬
            align-items: center; // 세로 중앙 정렬
          }

        }
      }
    }
  }
}

/* 모바일사이즈  모바일사이즈  모바일사이즈 */
@media only screen and (max-width: 700px) {
  body {
    .category {
      width: 90vw;
      margin-top: 3rem;
      line-height: 1.8em;
      font-size: 1.1rem;

      >a {
        margin-right: 0.8em;
      }
    }

    /* 바디  바디  바디 mobile */
    .container {
      gap: 2.5vw; // 요소 사이의 간격을 설정

      .box {
        width: 100%;

        .thumbnail-box {
          height: 19.25rem;
          flex-direction: column;
          margin-bottom: 1em; // 이미지와 텍스트 사이에 간격 추가

          .text-container {
            position: relative; // 절대 위치 제거
            top: auto; // 기존 top 속성 제거
            left: auto; // 기존 left 속성 제거
            font-size: 1em;

            padding: 1em 2em; // 텍스트 상하 간격 조정

            display: block;
            height: auto;

            background-color: unset !important;

            #award {
              top: -3em;
              width: 10%;
            }
          }
        }
      }
    }
  }
}