$default-f: 0.9vw;
$mobile-f: 3.9vw;
// line height
$lh: 1.4em;
$titlelh: 1.25em;
$padding: 0 2.5vw 0 2.5vw;
$vh-space: 4vh;

#underline {
  text-decoration: underline;
}

/* WORK 인덱스 */
body {
  .category {
    margin-bottom: $vh-space;

    font-size: 1rem;
    color: var(--lightgray);

    #selected {
      color: black;
    }

    > a {
      margin-right: 1.25em;
    }

    > a:hover {
      color: gray;
      transition: all 0.2s linear;
    }
  }

  /* 바디 내용 시작 web web 웹 */
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .box {
      letter-spacing: -0.02em;

      width: 23.3vw;
      height: calc(23.3vw * 1.15);

      margin-right: 0.35vw;
      /* 각 요소들 사이의 간격을 설정 */
      margin-bottom: -$vh-space;
      /* 아래쪽 간격 유지 */

      display: flex;
      flex-direction: column;

      // 상위 정렬, 가로 중앙 정렬, 텍스트 중앙 정렬
      justify-content: flex-start;
      align-items: center;
      text-align: center;

      .thumbnail-box {
        margin-bottom: 0.5em;

        width: 23.3vw;
        height: 16vw;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        > img {
          width: 100%;
          height: 100%;
          overflow: hidden;
          /* 이미지 정 사이즈 */
          object-fit: cover;
        }

        .thumbnail:hover {
          transform: scale(1.03);
          transition: all 0.2s linear;
          opacity: 0.5;
        }
      }
    }
  }
}

/* 모바일사이즈  모바일사이즈  모바일사이즈 */
@media only screen and (max-width: 700px) {
  body {
    .category {
      width: 85vw;
      margin-top: 3rem;
      line-height: 1.5em;
      font-size: 1.1rem;

      > a {
        margin-right: 0.8em;
      }
    }

    /* 바디  바디  바디 mobile */
    .container {
      display: flex;
      flex-direction: column;
      margin-top: -0.5em;

      .box {
        width: 100%;
        height: 20rem;
        margin-bottom: 0.1em;
        /* 아래쪽 간격 유지 */

        align-items: start;
        text-align: left;

        .thumbnail-box {
          width: 100%;
          height: 16rem;
        }
      }
    }
  }
}
