@charset "UTF-8";
#underline {
  text-decoration: underline;
}

/* WORK 인덱스 */
body {
  /* 바디 내용 시작 web web 웹 */
}
body .category {
  margin-bottom: 4vh;
  font-size: 1rem;
  color: var(--lightgray);
}
body .category #selected {
  color: black;
}
body .category > a {
  margin-right: 1.25em;
}
body .category > a:hover {
  color: gray;
  transition: all 0.2s linear;
}
body .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
body .container .box {
  letter-spacing: -0.02em;
  width: calc((100% - 2vw) / 4);
  margin-right: 0.5vw;
  /* 각 요소 사이의 간격 */
  height: 26vw;
  /* 각 요소들 사이의 간격을 설정 */
  margin-bottom: -4vh;
  /* 아래쪽 간격 유지 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
body .container .box .thumbnail-box {
  margin-bottom: 0.5em;
  width: 100%;
  height: 16vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .box .thumbnail-box > img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* 이미지 정 사이즈 */
  object-fit: cover;
}
body .container .box .thumbnail-box .thumbnail:hover {
  transform: scale(1.03);
  transition: all 0.2s linear;
  opacity: 0.5;
}

/* 모바일사이즈  모바일사이즈  모바일사이즈 */
@media only screen and (max-width: 700px) {
  body {
    /* 바디  바디  바디 mobile */
  }
  body .category {
    width: 85vw;
    margin-top: 3rem;
    line-height: 1.5em;
    font-size: 1.1rem;
  }
  body .category > a {
    margin-right: 0.8em;
  }
  body .container {
    display: flex;
    flex-direction: column;
    margin-top: -0.5em;
  }
  body .container .box {
    width: 100%;
    height: 20rem;
    margin-bottom: 0.1em;
    /* 아래쪽 간격 유지 */
    align-items: start;
    text-align: left;
  }
  body .container .box .thumbnail-box {
    width: 100%;
    height: 16rem;
  }
}