/*이미지 슬라이드!!*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slide-gallery {
  margin-bottom: 3vh;
}

.gallery-cell {
  width: 60vw;
  height: 40vw;
  margin-right: 1.25vh;
  /* 순번 지정 */
  counter-increment: gallery-cell;
}

.gallery-cell img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  width: 100%;
  height: auto;
  overflow: hidden;
}

/*이미지 갤러리!!*/
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: .3vh;
}

.gallery-box {
  /* 모달 갤러리 썸네일 사이즈 */
  width: 46.75vw;
  height: 100%;
  margin-bottom: -.3vh;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-box>img {
  overflow: hidden;

  width: 100%;
  max-height: 65vh;

  /* 이미지 정 사이즈 */
  object-fit: cover;
  margin: 0;
}


/* 모바일사이즈  모바일사이즈  모바일사이즈 */
@media only screen and (max-width: 700px) {

  /*이미지 슬라이드! MOBILE ! MOBILE !*/
  .slide-gallery {
    margin-left: -2.5vw;
    margin-right: -2.5vw;
    margin-bottom: 2.5vw;
  }

  .gallery-cell {
    width: 75vw;
    height: 50vw;
    margin-right: calc(1.25vh * .75);
    /* 순번 지정 */
    counter-increment: gallery-cell;
  }

  /*이미지 갤러리!!*/
  .image-gallery {
    margin-top: 1vh;
    margin-bottom: .2vh;
  }

  .gallery-box {
    width: 46.36vw;
    margin-bottom: -.1vh;
  }

}